<p><%= @subtitle %></p>
<button type="button" onclick="location.href='/new'">add</button>
<ul>
  <% @titles.each_with_index do |title, i| %>
  <li>
      <a href= "/<%= i %>" ><%= title %></a>
  </li>
  <% end %>
</ul>
