<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title><%= @main_title %></title>
</head>
<body>
  <h1><%= @main_title %></h1>
  <p><b><%= @subtitle %></b></p>
  <%= yield %>
</body>
</html>